<div class="breadcrumbs" id="breadcrumbs">
  <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
  </script>

  <ul class="breadcrumb">
    <span>欢迎使用cMock全方位管理平台</span>
  </ul><!-- .breadcrumb -->
</div>
