<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>cMock - 控制台，全方位作业 </title>
  <%= stylesheet_link_tag    'application',  'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag  'application', 'data-turbolinks-track': 'reload' %>

</head>

<body style="background-color: #fff">

<div class="mockNav">
  <div id="mockNavLable">
    <label class="navLable">cMock 测试管理系统</label>
  </div>

  <div id="mockNavUserInfo">
    <span>胡伟华</span>
    <em>|</em><span><a href="#">退出</a></span>
  </div>
</div>
<div >
  <nav role="navigation">
    <ul  class="nav nav-tabs">
      <li role="presentation" id="menuIndexTab"><a href="/">首页</a></li>
      <li id="menuUserTab" class="active"><a href="/sysmin"  style="color:#000;">系统管理</a></li>
      <li id="menuProjTab"><a href="/proj">项目管理</a></li>
      <li id="menuTestTab"><a href="/testmin">测试管理</a></li>
      <li id="menuCaseTab"><a href="#">用例管理</a></li>
      <li id="menuApiTab" ><a href="/api">接口管理</a></li>
    </ul>
  </nav>
</div>

<div id="mockMainContainer">
  <div id="mockMainContainerSide" class="list-group">
      <a href="/users" class="list-group-item" id="userManager">用户管理</a>
      <a href="/depts" class="list-group-item" id="deptManager">部门管理</a>
      <a href="/roles" class="list-group-item" id="roleManager">角色管理</a>
  </div>

  <div id="mockMainContainerContent">
      <%= yield %>
  </div>
<div>


</body>
</html>

